<app-blog-right-sidebar (filterEvent)="receiveFilterValue($event)" ></app-blog-right-sidebar>
<div style="margin-right: 320px;">
    <app-blog-container *ngFor="let blog of blogs" [title]="blog.title" [user]="blog.user.username"
        [askedTime]="blog.date" [views]="blog.views" [profile_pic]="blog.user.profile_pic" [blog_id]="blog._id"
        [details]="blog.details" [tags]="blog.tags" [blogUserId]="blog.user._id">
    </app-blog-container>
    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
</div>