<!-- <div class="msb ms-auto" id="msb" style="right: 0;">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="px-3 w-100" id="navbarNav">
            <div>
                <img src="{{user.profile_pic}}" class="rounded-circle " width="80px" height="80px" alt="" />
                <div class="pt-2">
                    <h3 class="m-0 fw-bold" [routerLink]="['/profile',user._id]">{{user.username}}</h3>
                    <p class="m-0">{{user.connectionsCount}} connections</p>
                    <p class="text-wrap pt-3 text-truncate">{{user.about}}</p>
                </div>
            </div>
            <hr />
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item active text-truncate">
                        Related Blogs
                    </li>
                    <li class="list-group-item text-truncate" *ngFor="let blog of realatedBlog">
                        <a [routerLink]="['/blogs',blog._id]" data-toggle="tooltip" title="{{blog.title}}"
                            style="font-size:12px;" class="text-decoration-none">
                            {{blog.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div> -->


<div class="sidebar">
    <div class="row">
        <div class="col-lg-12">
            <div class="sidebar-item recent-posts">
                <div class="sidebar-heading">
                    <h2>Recent Posts</h2>
                </div>
                <div class="content">
                    <ul>
                        <li *ngFor="let blog of realatedBlog">
                            <a [routerLink]="['/blogs',blog._id]" data-toggle="tooltip" title="{{blog.title}}">
                                <h5>{{blog.title}}</h5>
                                <span>{{blog.date}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>