<div class="container mt-3">
    <h2 class="fw-bold">Ask a public question</h2>
    <form (ngSubmit)="askQuestion()" [formGroup]="question">
        <h3 class="fw-bold mt-4 mb-1">Title</h3>
        <mat-form-field class="example-full-width" style="width: 80vw;">
            <mat-label>Enter your Question</mat-label>
            <input type="text" maxlength="100" matInput formControlName="title"
                placeholder="eg: How can i use python session response parsing error?">
        </mat-form-field>

        <h3 class="fw-bold mt-4 mb-1">Details of your problem?</h3>
        <mat-form-field class="example-full-width" style="width: 80vw;">
            <mat-label>Introduce the problem and expand on what you put in the title.</mat-label>
            <textarea matInput rows="10" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field class="" appearance="fill" style="width: 80vw;">
            <mat-label>Tags</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter tags">
                <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)" [editable]="true"
                    (edited)="edit(tag, $event)" [aria-description]="'press enter to edit ' + tag">
                    {{tag}}
                    <button matChipRemove [attr.aria-label]="'remove ' + tag">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                <input placeholder="Add Tags ..." [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"/>
            </mat-chip-grid>
        </mat-form-field>
        <button mat-raised-button color="primary">submit</button>
    </form>
</div>