<app-question-right-sidebar *ngIf="question" [tags]="question.tags"></app-question-right-sidebar>
<div style="margin-right: 320px;" *ngIf="question">
    <mat-card class="ms-3 my-3">
        <mat-card-header>
            <mat-card-title>{{question.title}}</mat-card-title>

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog()">
                    <mat-icon>report</mat-icon>
                    <span>Report Question</span>
                </button>
            </mat-menu>

            <mat-card-subtitle>{{question.description}}</mat-card-subtitle>

            <mat-card-subtitle>
                <mat-chip-set>
                    <mat-chip *ngFor="let tag of question.tags">
                        {{tag.name}}
                    </mat-chip>
                </mat-chip-set>
            </mat-card-subtitle>
        </mat-card-header>
        <div class="d-flex justify-content-between">
            <mat-card-actions>
                <mat-card-subtitle class="mx-2">
                    <fa-icon class="icon-profile" [icon]="likeButton" (click)="like()"></fa-icon>
                </mat-card-subtitle>
                <mat-card-subtitle class="mx-2">
                    <!-- <fa-icon class="icon-profile" [icon]="dislikeButton" (click)="dislike()"></fa-icon> -->
                </mat-card-subtitle>
                <mat-card-subtitle class="mx-2">
                    {{question.views ? question.views : 0 + 1}} views
                </mat-card-subtitle>
            </mat-card-actions>

            <mat-card-actions align="end">
                <img src="{{question.user.profile_pic}}" class="profile-pic mx-1" alt="">
                <span class="fw-bold">{{question.user.username}}</span>
                <mat-card-subtitle class="mx-3">asked {{question.date | datetoMinutes}}</mat-card-subtitle>
            </mat-card-actions>
        </div>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Comments
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card-subtitle *ngIf="question.comments">
                    <ol>
                        <li class="py-2" *ngFor="let comment of question.comments">
                            <span class="text-black">{{comment.user.username}}:</span>
                            <span class="px-2">{{comment.comment}}</span>
                            <small class="text-black">{{comment.created_at| datetoMinutes}}</small>
                        </li>
                    </ol>
                </mat-card-subtitle>
                <form class="" (ngSubmit)="addQuestionComment()" [formGroup]="questionComment">
                    <mat-form-field class="w-100 px-3">
                        <input type="text" maxlength="100" matInput placeholder="Add comments....."
                            formControlName="comment" value="">
                        <button matSuffix mat-icon-button>
                            <mat-icon>send</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
    <h3 class="ms-3 fw-bold">{{answerCount}} answer</h3>
    <app-answer *ngFor="let answer of question.answers" [answer]="answer.answer" [date]="answer.date"
        [user]="answer.user" [comments]="answer.comments" [answerId]="answer._id"></app-answer>

    <form class="ms-3 mt-5" (ngSubmit)="addAnswer()" [formGroup]="solution">
        <h3 class="fw-bold mt-4 mb-1">Enter your answer</h3>
        <mat-form-field class="" style="display: inline;">
            <mat-label>Explain your solution here.....</mat-label>
            <textarea matInput rows="10" formControlName="answer"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" style="float: right;">Primary</button>
    </form>
</div>