<mat-toolbar color="primary" class="fixed-top">

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>DevConnect</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let button of buttons; trackBy:trackByButtonId" [id]="button.id"
    routerLink="{{button.link}}">
        <fa-icon class="fa-2xl" [icon]="button.icon" class="pe-3"></fa-icon>
        <span>{{button.name}}</span>
    </button>
</mat-menu>

<div style="margin-top:64px;">
    <router-outlet></router-outlet>
</div>