body {
    margin-top: 50px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #39464e;
}

/*main side bar*/
.msb {
    width: 200px;
    background-color: #F5F7F9;
    position: fixed;
    left: 0;
    top: 64px;
    right: auto;
    min-height: 100%;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #ddd;
}

.msb .navbar {
    border: none;
    margin-left: 0;
    background-color: inherit;
}

.msb .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    background: #fff;
}

.msb .navbar-nav .panel {
    border: 0 none;
    box-shadow: none;
    margin: 0;
    background: inherit;
}

.msb .navbar-nav li {
    display: block;
    width: 100%;
}

.msb .navbar-nav li a {
    padding: 15px;
    color: #5f5f5f;
    font-size: 16px;
    font-weight: 500;
    padding-left: 25px;
}

fa-icon {
    padding-right: 10px;
}

.msb .navbar-nav li a .glyphicon,
.msb .navbar-nav li a .fa {
    margin-right: 8px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }
}